.weatherContainer {
	position: relative;
	width: 100vw;
	height: 85vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardContainer {
	position: relative;
	width: 400px;
	background: linear-gradient(
		to right top,
		rgb(55, 65, 81),
		rgb(17, 24, 39),
		rgb(0, 0, 0)
	);
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}

.dataContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
}

.dataItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background: var(--gray10);
	border-radius: 10px;
	width: 80%;
	margin-inline: auto;
	padding: 10px;
}

.title {
	font-size: 24px;
	margin-bottom: 1rem;
}

.dataImg {
	width: 50px;
}

.btnToggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	background: var(--green);
	padding: 0.6rem;
	border: none;
	border-radius: 5px;
	color: var(--black-darker);
	transition: filter 250ms ease;
}

.btnToggle:hover {
	filter: brightness(0.9);
}

.icon {
	transition: transform 500ms ease;
}

.active {
	transform: rotate(360deg);
}

/* Estilos para los diversos casos */

.nightClass {
	background: linear-gradient(
		to right,
		rgb(55, 65, 81),
		rgb(17, 24, 39),
		rgb(0, 0, 0)
	);
}

.dayClass {
	background: linear-gradient(rgb(249, 115, 22), rgb(253, 224, 71));
}

.snowClass {
	background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241));
}

.defaultClass {
	color: black !important;
	background: linear-gradient(rgb(56, 189, 248), rgb(186, 230, 253));
}

.defaultClass p,
.defaultClass h3 {
	color: var(--black);
}
