/* Font import from googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* variables globales */
:root {
	--black: #16161a;
	--black-darker: #16161a;
	--purple: #7f5af0;
	--white: #fffffe;
	--gray: #94a1b2;
	--gray-darker: #242629;
}

/* resets */

* {
	color: var(--white);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	background: var(--black);
}
