/* Font import from googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* variables globales */
:root {
	--black: #16161a;
	--black-darker: #16161a;
	--purple: #7f5af0;
	--purple10: rgba(127, 90, 240, 0.1);
	--white: #fffffe;
	--gray: #94a1b2;
	--gray10: rgba(148, 161, 178, 0.1);
	--gray-darker: #242629;
	--green: #2cb67d;
}

/* resets */

* {
	color: var(--white);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	background: var(--black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
